html {
  box-sizing: border-box;

  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  margin: 0;
  color: #fff;
  font-size: 4rem;
  line-height: 1.4;
}

p {
  margin: 1.2rem 0;
  font-style: italic;
  font-size: 2rem;
}

body {
  font-family: "Open Snas", sans-serif
}

span {
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  bottom: 0;
}

.banner-content {
  max-width: 45rem;
  width: 100%;
  left: 50%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  padding-left: 1rem;
  padding-right: 1rem;

}
